/* About.css */

.padding {
  padding: 50px 0;
}

.background {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-container {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
  word-wrap: break-word;
}

.large {
  font-size: 1.2em;
  word-wrap: break-word;
}

.skills-list {
  list-style-type: disc;
  padding: 0;
  text-align: left;
  columns: 2;
  font-size: 1.25rem;
  margin: 2rem 3rem;
  gap: 3rem;
}

.skills-list li {
  margin-right: 10px;
}

/* Media Query for Tablets and Smaller Screens */
@media screen and (max-width: 768px) {
  .padding {
    padding: 30px 0;
  }

  .background {
    position: static;
    width: 100%;
    height: auto;
  }

  .large {
    font-size: 1em;
  }

  .content-container {
    max-width: 100%;
    padding: 0 20px;
  }

  .skills-list {
    columns: 1;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .skills-list {
    columns: 1;
  }
}